[submodule "libsrtp"]
	path = libsrtp
	url = https://github.com/cisco/libsrtp.git
	branch = main
[submodule "libzrtp"]
	path = libzrtp
	url = https://github.com/juha-h/libzrtp
[submodule "rem"]
	path = rem
	url = https://github.com/baresip/rem.git
	branch = main
[submodule "re"]
	path = re
	url = https://github.com/baresip/re.git
	branch = main
[submodule "baresip"]
	path = baresip
	url = https://github.com/baresip/baresip.git
	branch = main
[submodule "retest"]
	path = retest
	url = https://github.com/baresip/retest.git
	branch = main
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "opus"]
	path = opus
	url = https://github.com/xiph/opus.git
[submodule "ogg"]
	path = ogg
	url = https://github.com/xiph/ogg.git
[submodule "baresip-apps"]
	path = baresip-apps
	url = https://github.com/baresip/baresip-apps.git
	branch = main
[submodule "openldap"]
	path = openldap
	url = https://github.com/openldap/openldap.git
	branch = OPENLDAP_REL_ENG_2_6
